/*
* --------------------------------------------------------------------------
* Akoma Ntoso default stylesheet.
* Note: this is generated!
* --------------------------------------------------------------------------
*/
/*
* --------------------------
* Amendments
* --------------------------
*/
/*
* --------------------------
* akomaNtosoType
* --------------------------
*/
/*
* --------------------------
* amendmentBodyType
* --------------------------
*/
/*
* --------------------------
* amendmentStructure
* --------------------------
*/
/*
* --------------------------
* anyOtherType
* --------------------------
*/
/*
* --------------------------
* argumentType
* --------------------------
*/
/*
* --------------------------
* basehierarchy
* --------------------------
*/
.basehierarchy[ns="http://www.akomantoso.org/2.0"] {
    display: block;
    margin-top: 1.5em;
}

/*
* --------------------------
* althierarchy
* --------------------------
*/
.althierarchy[ns="http://www.akomantoso.org/2.0"] {
    display: block;
    margin-top: 1.5em;
}

.address[ns="http://www.akomantoso.org/2.0"] {
    display: block;
    margin-top: 1.5em;
}

.adjournment[ns="http://www.akomantoso.org/2.0"] {
    display: block;
    margin-top: 1.5em;
}

.administrationOfOath[ns="http://www.akomantoso.org/2.0"] {
    display: block;
    margin-top: 1.5em;
}

.communication[ns="http://www.akomantoso.org/2.0"] {
    display: block;
    margin-top: 1.5em;
}

.debateSection[ns="http://www.akomantoso.org/2.0"] {
    display: block;
    margin-top: 1.5em;
}

.declarationOfVote[ns="http://www.akomantoso.org/2.0"] {
    display: block;
    margin-top: 1.5em;
}

.ministerialStatements[ns="http://www.akomantoso.org/2.0"] {
    display: block;
    margin-top: 1.5em;
}

.nationalInterest[ns="http://www.akomantoso.org/2.0"] {
    display: block;
    margin-top: 1.5em;
}

.noticesOfMotion[ns="http://www.akomantoso.org/2.0"] {
    display: block;
    margin-top: 1.5em;
}

.oralStatements[ns="http://www.akomantoso.org/2.0"] {
    display: block;
    margin-top: 1.5em;
}

.papers[ns="http://www.akomantoso.org/2.0"] {
    display: block;
    margin-top: 1.5em;
}

.personalStatements[ns="http://www.akomantoso.org/2.0"] {
    display: block;
    margin-top: 1.5em;
}

.petitions[ns="http://www.akomantoso.org/2.0"] {
    display: block;
    margin-top: 1.5em;
}

.pointOfOrder[ns="http://www.akomantoso.org/2.0"] {
    display: block;
    margin-top: 1.5em;
}

.prayers[ns="http://www.akomantoso.org/2.0"] {
    display: block;
    margin-top: 1.5em;
}

.proceduralMotions[ns="http://www.akomantoso.org/2.0"] {
    display: block;
    margin-top: 1.5em;
}

.questions[ns="http://www.akomantoso.org/2.0"] {
    display: block;
    margin-top: 1.5em;
}

.resolutions[ns="http://www.akomantoso.org/2.0"] {
    display: block;
    margin-top: 1.5em;
}

.rollCall[ns="http://www.akomantoso.org/2.0"] {
    display: block;
    margin-top: 1.5em;
}

.writtenStatements[ns="http://www.akomantoso.org/2.0"] {
    display: block;
    margin-top: 1.5em;
}

/*
* --------------------------
* hierarchy
* --------------------------
*/
.hierarchy[ns="http://www.akomantoso.org/2.0"] {
    display: block;
    margin-top: 1.5em;
}

.alinea[ns="http://www.akomantoso.org/2.0"] {
    display: block;
    margin-top: 1.5em;
}

.article[ns="http://www.akomantoso.org/2.0"] {
    display: block;
    margin-top: 1.5em;
}

.book[ns="http://www.akomantoso.org/2.0"] {
    display: block;
    margin-top: 1.5em;
}

.chapter[ns="http://www.akomantoso.org/2.0"] {
    display: block;
    margin-top: 1.5em;
}

.clause[ns="http://www.akomantoso.org/2.0"] {
    display: block;
    margin-top: 1.5em;
}

.division[ns="http://www.akomantoso.org/2.0"] {
    display: block;
    margin-top: 1.5em;
}

.hcontainer[ns="http://www.akomantoso.org/2.0"] {
    display: block;
    margin-top: 1.5em;
}

.indent[ns="http://www.akomantoso.org/2.0"] {
    display: block;
    margin-top: 1.5em;
}

.list[ns="http://www.akomantoso.org/2.0"] {
    display: block;
    margin-top: 1.5em;
}

.paragraph[ns="http://www.akomantoso.org/2.0"] {
    display: block;
    margin-top: 1.5em;
}

.part[ns="http://www.akomantoso.org/2.0"] {
    display: block;
    margin-top: 1.5em;
}

.point[ns="http://www.akomantoso.org/2.0"] {
    display: block;
    margin-top: 1.5em;
}

.section[ns="http://www.akomantoso.org/2.0"] {
    display: block;
    margin-top: 1.5em;
}

.subchapter[ns="http://www.akomantoso.org/2.0"] {
    display: block;
    margin-top: 1.5em;
}

.subclause[ns="http://www.akomantoso.org/2.0"] {
    display: block;
    margin-top: 1.5em;
}

.subdivision[ns="http://www.akomantoso.org/2.0"] {
    display: block;
    margin-top: 1.5em;
}

.sublist[ns="http://www.akomantoso.org/2.0"] {
    display: block;
    margin-top: 1.5em;
}

.subparagraph[ns="http://www.akomantoso.org/2.0"] {
    display: block;
    margin-top: 1.5em;
}

.subpart[ns="http://www.akomantoso.org/2.0"] {
    display: block;
    margin-top: 1.5em;
}

.subsection[ns="http://www.akomantoso.org/2.0"] {
    display: block;
    margin-top: 1.5em;
}

.subtitle[ns="http://www.akomantoso.org/2.0"] {
    display: block;
    margin-top: 1.5em;
}

.title[ns="http://www.akomantoso.org/2.0"] {
    display: block;
    margin-top: 1.5em;
}

.tome[ns="http://www.akomantoso.org/2.0"] {
    display: block;
    margin-top: 1.5em;
}

.transitional[ns="http://www.akomantoso.org/2.0"] {
    display: block;
    margin-top: 1.5em;
}

/*
* --------------------------
* itemType
* --------------------------
*/
.itemType[ns="http://www.akomantoso.org/2.0"] {
    margin: 1.5em;
    display: block;
    margin-top: 1.5em;
}

.citation[ns="http://www.akomantoso.org/2.0"] {
    margin: 1.5em;
    display: block;
    margin-top: 1.5em;
}

.item[ns="http://www.akomantoso.org/2.0"] {
    margin: 1.5em;
    display: block;
    margin-top: 1.5em;
}

.recital[ns="http://www.akomantoso.org/2.0"] {
    margin: 1.5em;
    display: block;
    margin-top: 1.5em;
}

.tblock[ns="http://www.akomantoso.org/2.0"] {
    margin: 1.5em;
    display: block;
    margin-top: 1.5em;
}

/*
* --------------------------
* speechType
* --------------------------
*/
.speechType[ns="http://www.akomantoso.org/2.0"] {
    display: block;
    margin-top: 1.5em;
}

.answer[ns="http://www.akomantoso.org/2.0"] {
    display: block;
    margin-top: 1.5em;
}

.question[ns="http://www.akomantoso.org/2.0"] {
    display: block;
    margin-top: 1.5em;
}

.speech[ns="http://www.akomantoso.org/2.0"] {
    display: block;
    margin-top: 1.5em;
}

/*
* --------------------------
* basicopt
* --------------------------
*/
/*
* --------------------------
* blocksopt
* --------------------------
*/
.blocksopt[ns="http://www.akomantoso.org/2.0"] {
    display: block;
    margin-top: 1.5em;
}

.amendmentContent[ns="http://www.akomantoso.org/2.0"] {
    display: block;
    margin-top: 1.5em;
}

.amendmentHeading[ns="http://www.akomantoso.org/2.0"] {
    display: block;
    margin-top: 1.5em;
}

.amendmentJustification[ns="http://www.akomantoso.org/2.0"] {
    display: block;
    margin-top: 1.5em;
}

.amendmentReference[ns="http://www.akomantoso.org/2.0"] {
    display: block;
    margin-top: 1.5em;
}

.content[ns="http://www.akomantoso.org/2.0"] {
    display: block;
    margin-top: 1.5em;
}

.formula[ns="http://www.akomantoso.org/2.0"] {
    display: block;
    margin-top: 1.5em;
}

.header[ns="http://www.akomantoso.org/2.0"] {
    display: block;
    margin-top: 1.5em;
}

.intro[ns="http://www.akomantoso.org/2.0"] {
    display: block;
    margin-top: 1.5em;
}

.longTitle[ns="http://www.akomantoso.org/2.0"] {
    display: block;
    margin-top: 1.5em;
}

.other[ns="http://www.akomantoso.org/2.0"] {
    display: block;
    margin-top: 1.5em;
}

.td[ns="http://www.akomantoso.org/2.0"] {
    display: table-cell;
    margin-top: 1.5em;
}

.th[ns="http://www.akomantoso.org/2.0"] {
    display: block;
    margin-top: 1.5em;
}

.wrap[ns="http://www.akomantoso.org/2.0"] {
    display: block;
    margin-top: 1.5em;
}

/*
* --------------------------
* blocksreq
* --------------------------
*/
.blocksreq[ns="http://www.akomantoso.org/2.0"] {
    display: block;
    margin-top: 1.5em;
}

.div[ns="http://www.akomantoso.org/2.0"] {
    display: block;
    margin-top: 1.5em;
}

.interstitial[ns="http://www.akomantoso.org/2.0"] {
    display: block;
    margin-top: 1.5em;
}

.note[ns="http://www.akomantoso.org/2.0"] {
    display: block;
    margin-top: 1.5em;
}

/*
* --------------------------
* bodyType
* --------------------------
*/
/*
* --------------------------
* collectionBodyType
* --------------------------
*/
/*
* --------------------------
* collectionStructure
* --------------------------
*/
.component[ns="http://www.akomantoso.org/2.0"] {
    display: block;
    margin-top: 1.5em;
}

/*
* --------------------------
* containerType
* --------------------------
*/
.container[ns="http://www.akomantoso.org/2.0"] {
    display: block;
    margin-top: 1.5em;
}

/*
* --------------------------
* coreProperties
* --------------------------
*/
/*
* --------------------------
* countType
* --------------------------
*/
/*
* --------------------------
* debateBodyType
* --------------------------
*/
/*
* --------------------------
* debateStructure
* --------------------------
*/
/*
* --------------------------
* fragmentBodyType
* --------------------------
*/
/*
* --------------------------
* fragmentStructure
* --------------------------
*/
/*
* --------------------------
* hierarchicalStructure
* --------------------------
*/
/*
* --------------------------
* inline
* --------------------------
*/
.inline[ns="http://www.akomantoso.org/2.0"] {
    display: inline;
}

.a[ns="http://www.akomantoso.org/2.0"] {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
    display: inline;
}

.affectedDocument[ns="http://www.akomantoso.org/2.0"] {
    display: inline;
}

.b[ns="http://www.akomantoso.org/2.0"] {
    display: inline;
    font-weight: bold;
}

.block[ns="http://www.akomantoso.org/2.0"] {
    margin: 1.5em;
    display: block;
}

.caption[ns="http://www.akomantoso.org/2.0"] {
    display: inline;
}

.change[ns="http://www.akomantoso.org/2.0"] {
    display: inline;
}

.courtType[ns="http://www.akomantoso.org/2.0"] {
    display: inline;
}

.date[ns="http://www.akomantoso.org/2.0"] {
    display: inline;
}

.def[ns="http://www.akomantoso.org/2.0"] {
    border-bottom: 1px solid #b68503;
    background-color: yellow;
    display: inline;
}

.del[ns="http://www.akomantoso.org/2.0"] {
    color: red;
    font-style: italic;
    background-color: pink;
    text-decoration: line-through;
    display: inline;
}

.docCommittee[ns="http://www.akomantoso.org/2.0"] {
    display: inline;
}

.docDate[ns="http://www.akomantoso.org/2.0"] {
    display: inline;
}

.docIntroducer[ns="http://www.akomantoso.org/2.0"] {
    display: inline;
}

.docJurisdiction[ns="http://www.akomantoso.org/2.0"] {
    display: inline;
}

.docNumber[ns="http://www.akomantoso.org/2.0"] {
    display: inline;
}

.docProponent[ns="http://www.akomantoso.org/2.0"] {
    display: inline;
}

.docPurpose[ns="http://www.akomantoso.org/2.0"] {
    display: inline;
}

.docStage[ns="http://www.akomantoso.org/2.0"] {
    display: inline;
}

.docStatus[ns="http://www.akomantoso.org/2.0"] {
    display: inline;
}

.docTitle[ns="http://www.akomantoso.org/2.0"] {
    display: inline;
}

.docType[ns="http://www.akomantoso.org/2.0"] {
    display: inline;
}

.docketNumber[ns="http://www.akomantoso.org/2.0"] {
    display: inline;
}

.extractText[ns="http://www.akomantoso.org/2.0"] {
    display: inline;
}

.fillIn[ns="http://www.akomantoso.org/2.0"] {
    display: inline;
}

.from[ns="http://www.akomantoso.org/2.0"] {
    display: inline;
}

.heading[ns="http://www.akomantoso.org/2.0"] {
    display: inline;
}

.i[ns="http://www.akomantoso.org/2.0"] {
    font-style: italic;
    display: inline;
}

.inline[ns="http://www.akomantoso.org/2.0"] {
    display: inline;
}

.ins[ns="http://www.akomantoso.org/2.0"] {
    color: blue;
    font-style: italic;
    background-color: lightblue;
    text-decoration: underline;
    display: inline;
}

.legislature[ns="http://www.akomantoso.org/2.0"] {
    display: inline;
}

.listConclusion[ns="http://www.akomantoso.org/2.0"] {
    display: inline;
}

.listIntroduction[ns="http://www.akomantoso.org/2.0"] {
    display: inline;
}

.mref[ns="http://www.akomantoso.org/2.0"] {
    display: inline;
}

.narrative[ns="http://www.akomantoso.org/2.0"] {
    display: inline;
}

.neutralCitation[ns="http://www.akomantoso.org/2.0"] {
    display: inline;
}

.num[ns="http://www.akomantoso.org/2.0"] {
    display: inline;
}

.omissis[ns="http://www.akomantoso.org/2.0"] {
    display: inline;
}

.opinion[ns="http://www.akomantoso.org/2.0"] {
    display: inline;
}

.outcome[ns="http://www.akomantoso.org/2.0"] {
    display: inline;
}

.p[ns="http://www.akomantoso.org/2.0"] {
    display: inline;
}

.placeholder[ns="http://www.akomantoso.org/2.0"] {
    display: inline;
}

.quotedText[ns="http://www.akomantoso.org/2.0"] {
    display: inline;
}

.recordedTime[ns="http://www.akomantoso.org/2.0"] {
    display: inline;
}

.relatedDocument[ns="http://www.akomantoso.org/2.0"] {
    display: inline;
}

.remark[ns="http://www.akomantoso.org/2.0"] {
    display: inline;
}

.scene[ns="http://www.akomantoso.org/2.0"] {
    display: inline;
}

.session[ns="http://www.akomantoso.org/2.0"] {
    display: inline;
}

.shortTitle[ns="http://www.akomantoso.org/2.0"] {
    display: inline;
}

.signature[ns="http://www.akomantoso.org/2.0"] {
    display: inline;
}

.span[ns="http://www.akomantoso.org/2.0"] {
    display: inline;
}

.sub[ns="http://www.akomantoso.org/2.0"] {
    vertical-align: sub;
    font-size: xx-small;
    display: inline;
}

.subheading[ns="http://www.akomantoso.org/2.0"] {
    display: inline;
}

.summary[ns="http://www.akomantoso.org/2.0"] {
    display: inline;
}

.sup[ns="http://www.akomantoso.org/2.0"] {
    vertical-align: super;
    font-size: xx-small;
    display: inline;
}

.tocItem[ns="http://www.akomantoso.org/2.0"] {
    display: inline;
}

.u[ns="http://www.akomantoso.org/2.0"] {
    text-decoration: underline;
    display: inline;
}

.vote[ns="http://www.akomantoso.org/2.0"] {
    display: inline;
}

/*
* --------------------------
* inlinereq
* --------------------------
*/
.inlinereq[ns="http://www.akomantoso.org/2.0"] {
    display: inline;
}

.ref[ns="http://www.akomantoso.org/2.0"] {
    display: inline;
}

.rref[ns="http://www.akomantoso.org/2.0"] {
    display: inline;
}

/*
* --------------------------
* inlinereqreq
* --------------------------
*/
.inlinereqreq[ns="http://www.akomantoso.org/2.0"] {
    display: inline;
}

.concept[ns="http://www.akomantoso.org/2.0"] {
    display: inline;
}

.entity[ns="http://www.akomantoso.org/2.0"] {
    display: inline;
}

.event[ns="http://www.akomantoso.org/2.0"] {
    display: inline;
}

.judge[ns="http://www.akomantoso.org/2.0"] {
    display: inline;
}

.lawyer[ns="http://www.akomantoso.org/2.0"] {
    display: inline;
}

.location[ns="http://www.akomantoso.org/2.0"] {
    display: inline;
}

.object[ns="http://www.akomantoso.org/2.0"] {
    display: inline;
}

.organization[ns="http://www.akomantoso.org/2.0"] {
    display: inline;
}

.party[ns="http://www.akomantoso.org/2.0"] {
    display: inline;
}

.person[ns="http://www.akomantoso.org/2.0"] {
    display: inline;
}

.process[ns="http://www.akomantoso.org/2.0"] {
    display: inline;
}

.quantity[ns="http://www.akomantoso.org/2.0"] {
    display: inline;
}

.role[ns="http://www.akomantoso.org/2.0"] {
    display: inline;
}

.term[ns="http://www.akomantoso.org/2.0"] {
    display: inline;
}

/*
* --------------------------
* judgementBodyType
* --------------------------
*/
/*
* --------------------------
* judgementStructure
* --------------------------
*/
/*
* --------------------------
* judicialArgumentType
* --------------------------
*/
/*
* --------------------------
* judicialArguments
* --------------------------
*/
.li[ns="http://www.akomantoso.org/2.0"] {
    margin-left: 1.5;
    display: list-item;
}

/*
* --------------------------
* listItems
* --------------------------
*/
.ol[ns="http://www.akomantoso.org/2.0"] {
    display: block;
}

.ul[ns="http://www.akomantoso.org/2.0"] {
    display: block;
}

/*
* --------------------------
* maincontent
* --------------------------
*/
.maincontent[ns="http://www.akomantoso.org/2.0"] {
    display: block;
    margin-top: 1.5em;
}

.background[ns="http://www.akomantoso.org/2.0"] {
    display: block;
    margin-top: 1.5em;
}

.decision[ns="http://www.akomantoso.org/2.0"] {
    display: block;
    margin-top: 1.5em;
}

.introduction[ns="http://www.akomantoso.org/2.0"] {
    display: block;
    margin-top: 1.5em;
}

.mainBody[ns="http://www.akomantoso.org/2.0"] {
    display: block;
    margin-top: 1.5em;
}

.motivation[ns="http://www.akomantoso.org/2.0"] {
    display: block;
    margin-top: 1.5em;
}

/*
* --------------------------
* markeropt
* --------------------------
*/
.br[ns="http://www.akomantoso.org/2.0"] {
    display: block;
}

/*
* --------------------------
* eolType
* --------------------------
*/
/*
* --------------------------
* markerreq
* --------------------------
*/
/*
* --------------------------
* metaopt
* --------------------------
*/
/*
* --------------------------
* valueType
* --------------------------
*/
/*
* --------------------------
* modType
* --------------------------
*/
/*
* --------------------------
* modificationType
* --------------------------
*/
/*
* --------------------------
* openStructure
* --------------------------
*/
/*
* --------------------------
* parliamentaryAnalysis
* --------------------------
*/
/*
* --------------------------
* parliamentaryAnalysisType
* --------------------------
*/
/*
* --------------------------
* periodType
* --------------------------
*/
/*
* --------------------------
* popupStructure
* --------------------------
*/
.extractStructure[ns="http://www.akomantoso.org/2.0"] {
    padding-left: 2.5em;
    color: #333;
    margin: 1.5em;
    display: block;
    border-left: 15px solid #ccc;
}

.quotedStructure[ns="http://www.akomantoso.org/2.0"] {
    padding-left: 2.5em;
    color: #333;
    margin: 1.5em;
    display: block;
    border-left: 15px solid #ccc;
}

/*
* --------------------------
* preambleopt
* --------------------------
*/
/*
* --------------------------
* prefaceopt
* --------------------------
*/
/*
* --------------------------
* refItems
* --------------------------
*/
/*
* --------------------------
* referenceType
* --------------------------
*/
/*
* --------------------------
* srcType
* --------------------------
*/
.table[ns="http://www.akomantoso.org/2.0"] {
    display: table;
}

.tr[ns="http://www.akomantoso.org/2.0"] {
    display: table-row;
}

